* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(148.92deg, #58bbf2 13.69%, #00278c 88.85%);
    font-family: arial;
  }
  
  .container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    margin: 30px 160px 30px 160px;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: 1024px) {
    .container {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      display: flex;
      margin: 30px 80px 30px 80px;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    z-index: 12;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 135px rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: nav 1s cubic-bezier(0.9, 0.02, 0.19, 1);
  }
  
  @keyframes nav {
    from {
      transform: translateY(-150%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  nav .logo {
    font-size: 1.8rem;
    z-index: 9;
  }
  
  nav .links {
    display: flex;
    gap: 60px;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
  
  nav .links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  nav li {
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }
  
  .home_underline {
    transform: translateX(-100px);
    width: auto;
    height: 2px;
    background-color: white;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }
  
  .list:hover > .home_underline {
    transform: translatex(0px);
  }
  
  button {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #153b66;
    border-radius: 100px;
    padding: 10px 30px 10px 30px;
    transform-origin: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  button::before {
    content: " ";
    position: absolute;
    top: 0px;
    width: 40px;
    height: 40px;
    transform: skewX(40deg) translateX(-90px);
    background-color: #578ac4;
    opacity: 0.8;
    z-index: 99;
    transition: 0.8s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }
  
  button:hover::before {
    transform: skewX(40deg) translateX(100px);
    animation: btnshine 1s cubic-bezier(0.97, 0.02, 0.44, 0.99) infinite;
  }
  @keyframes btnshine {
    from {
      transform: skewX(40deg) translateX(-90px);
    }
    to {
      transform: skewX(40deg) translateX(100px);
    }
  }
  
  #nav-toggle {
    position: absolute;
    display: none;
  }
  
  nav .icon-burger {
    position: absolute;
    right: 5%;
    display: none;
  }
  
  nav .icon-burger .line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 768px) {
    nav .logo {
      z-index: 99;
    }
    .container {
      margin: 30px 10px 30px 30px;
    }
    nav .links {
      float: none;
      position: fixed;
      top: 0;
      left: 100%;
      right: 0;
      bottom: 0;
      z-index: 9;
      width: auto;
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 0px 0px 60px;
      background-color: rgba(0, 0, 0, 0.568);
      backdrop-filter: blur(20px);
      overflow: hidden;
      transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
    }
    .home_underline {
      display: none;
    }
    button {
      border: none;
      font-family: "Times New Roman", Times, serif;
      font-size: 2rem;
      color: white;
      background-color: blueviolet;
      border-radius: 100px;
      padding: 10px 40px 10px 40px;
    }
  
    nav .links a {
      font-family: "Times New Roman", Times, serif;
      font-size: 5rem;
      color: white;
      font-weight: 300;
    }
    nav .icon-burger {
      z-index: 9;
      display: block;
      caret-color: transparent;
    }
    nav :checked ~ .links {
      left: 0;
    }
    nav .icon-burger .line {
      transition: 0.3s cubic-bezier(0.97, 0.02, 0.44, 0.99);
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(9px) rotate(50deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      transform: translateX(10px);
      opacity: 0;
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-9px) rotate(-50deg);
    }
  }
  
  /* ----------header---------------- */
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .hero .circles {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
    background: linear-gradient(148.92deg, #58bbf2 13.69%, #00278c 88.85%);
    box-shadow: 0px 0px 135px rgba(0, 0, 0, 0.35);
    animation: circles 1s cubic-bezier(0.9, 0.02, 0.19, 1);
  }
  
  @keyframes circles {
    from {
      transform: translateY(120%);
    }
    to {
      transform: translateY(0px);
    }
  }
  
  .hero .circles:nth-child(1) {
    top: 50%;
    left: -5%;
    width: 50rem;
    height: 50rem;
    z-index: 2;
    animation: circles 0.8s cubic-bezier(0.9, 0.02, 0.19, 1);
  }
  .hero .circles:nth-child(2) {
    top: 25rem;
    left: 20rem;
    width: 50rem;
    height: 50rem;
    z-index: 3;
    animation: circles 1s cubic-bezier(0.9, 0.02, 0.19, 1);
  }
  .hero .circles:nth-child(3) {
    top: 40%;
    right: -5%;
    width: 80rem;
    height: 80rem;
    z-index: 4;
    animation: circles 1.2s cubic-bezier(0.9, 0.02, 0.19, 1);
  }
  .hero .circles:nth-child(4) {
    top: -20%;
    left: -10%;
    width: 60rem;
    height: 60rem;
    z-index: 0;
    animation: circles 1.4s cubic-bezier(0.9, 0.02, 0.19, 1);
  }
  .hero .circles:nth-child(5) {
    top: -30%;
    left: 18%;
    width: 90rem;
    height: 90rem;
    z-index: 0;
    animation: circles 1.5s cubic-bezier(0.9, 0.02, 0.19, 1);
  }
  .hero .circles:nth-child(6) {
    top: -10%;
    left: 60%;
    width: 60rem;
    height: 60rem;
    z-index: 0;
    animation: circles 1.8s cubic-bezier(0.9, 0.02, 0.19, 1);
  }
  
  .header h1 {
    position: absolute;
    z-index: 16;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: capitalize;
    top: 30rem;
    right: 20rem;
    font-size: 3rem;
    width: 55vw;
    text-align: end;
    color: aliceblue;
  }
  
  @keyframes h1 {
    from {
      transform: translateY(180%);
    }
    to {
      transform: translateY(0);
    }
  }
  /* Timeline*/
  .top{
    display:flex ;
  }
.box{
  display: flex;
    margin:0 10%;
    height: 630px;
    overflow: hidden;
    padding: 10px 0 40px 60px
}

.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.box ul:last-of-type{top:80px}

.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed #fff;
    position: absolute;
    top:0;
    left:10px
}

.box ul li{
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background:rgba(255, 255, 255, 0.3);
    color:#fff;
    border-radius: 10px;
    line-height: 20px;
    width: 90%
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #fff;
    position: absolute;
    top:0;
    left:-50px
}

.box ul li > span:before,.box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#00278c;
    border:2px solid #fff;
    position: absolute;
    left:-7.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

/* footer */
.footer {
 scroll-snap-align: start;
}

.main-part {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c5d;
  padding: 2rem;
}
.flex-footer{
  display: flex;
  margin: 8px;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 300;
  color: goldenrod;
  margin: 3rem 0 3rem 0;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list-item {
  margin-bottom: 2rem;
}

.footer-list-link {
  font-size: 1rem;
  text-decoration: none;
  color: #bbb;
}

.contact p {
  font-size: 1.5rem;
  color: #bbb;
  margin-bottom: 4rem;
}

.footer-form {
  display: flex;
}

.footer-input {
  width: 25rem;
  padding: 0.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  color: #444;
  outline: none;
}

.footer-btn {
  padding: 1rem;
  background-color: #b85d1c;
  color: #ddd;
  border: none;
}

.gallery {
  max-width: 5rem;
}

.image-wrapper {
  width: 12rem;
  margin: .4rem;
  overflow: hidden;
}

.footer-image {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all .5s;
}

.gallery-images {
  display: flex;
}
.gallery-images-2{
  display: flex;
}

.footer-image:hover {
  transform: scale(1.3);
  opacity: .8;
}

.creator-part {
  justify-content:space-around;
  align-items: center;
  background-color: rgb(3, 0, 43);
  padding: 0 4rem;
}

.copyright-text {
  font-size: 0.8rem;
  color: #aaa;
}

.text-right {
  font-size: 0.8rem;
  color: #bbb;
  text-align: right;
}

.text-right i {
  font-size: 1rem;
  margin: .5rem;
  color: tomato;
} 

.text-right span {
  color: gold;
}

  